/* ================== SIDANS GRUND ================== */
body {
  background-color: lightgray;
  margin: 0;
  font-family: Inter, sans-serif;
}


/* ================== HEADER ================== */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: darkslategrey;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: darkslategrey;
  font-size: 18px;
}

nav a:hover {
  color: darkgoldenrod;
}


/* ================== HERO-SEKTION ================== */
.hero {
  position: relative;
  height: 550px;
  background-image: url("../Bosse3.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 75px;
}

.hero-content h1 {
  font-size: 65px;
  color: white;
}

.hero-content p {
  font-size: 22px;
  color: white;
}

/* KNAPP */
.hero-btn {
  position: relative;
  background-color: darkslategrey;
  color: white;
  padding: 30px 55px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 25px;
  margin-top: 20px;
}

.hero-btn:hover {
  transform: translateY(-3px);
}

/* Tooltip */
.nose-tooltip {
  position: absolute;
  bottom: 100%;
  left: 68%;
  transform: translateX(-50%) translateY(-10px);
  background: rgba(240,240,240,0.9);
  color: darkslategrey;
  padding: 12px 18px;
  border-radius: 6px;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.25s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  width: 250px;                /* Viktigt! */
  max-width: 500px;           /* Tillåter avlång form */
}

.hero-btn:hover .nose-tooltip {
  opacity: 1;
}


/* ================== BOSSE-VISDOM UNDER KNAPP ================== */
.bosse-message {
  margin-top: 20px;
  background: orange;
  color: white;
  padding: 18px 25px;
  border-radius: 8px;
  font-size: 22px;
  display: none;
  max-width: 600px;
  line-height: 1.4;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

/* ================== OM BOSSE ================== */
.bosses-info {
  max-width: 1720px;
  margin: 50px auto;
  padding: 0 20px;
}

.bosses-info h2 {
  font-size: 45px;
  margin-bottom: 20px;
}

.bosses-info p {
  font-size: 20px;
  line-height: 1.6;
}


/* ======= HORISONELL LINJE  ====== */
.section-divider {
  height: 2px;
  background-color: rgba(128, 128, 128, 0.16);
  width: 1680px;
  margin: 40px auto;
}


/* ================== FILTERING & HUNDFAKTA RUTA ================== */
.dog-facts {
  max-width: 1670px;
  margin: 20px auto 60px auto;
  padding: 25px 30px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.dog-facts select {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  font-size: 18px;
}

.fact-display {
  background: #f6f6f6;
  padding: 20px;
  border-radius: 12px;
  margin-top: 15px;
  font-size: 18px;
}


/* ================== TRE KORT ================== */

#blogg{
  max-width: 1720px;
  margin: 30px auto;
  font-size: 35px;


  }
.sektioner {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 20px;
}

.sektion {
  background-color: white;
  width: 500px;
  height: 600px;
  border-radius: 4px;
  padding: 25px;
  box-shadow: 0 8px 8px rgba(0,0,0,0.1);
}

.sektion img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.section h1{
  font-size: 20px;
}
.section h2{
  font-size: 25px;
}
.section p{
  font-size: 18px;
}
/* ================== FOOTER ================== */
.main-footer {
  background-color: white;
  padding: 30px;
  margin-top: 80px;
  border-top: 2px solid #ccc;
  text-align: center;
  font-size: 18px;
}


/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

